body{
   width: 100%;
   height: 100vh;
   margin: 0 auto;
}
.grndiv{
   padding: 2%;
   display: flex;
   justify-content: space-around; 
}
#main{
    width:100%;
    height: 100vh;
    background-image:url(pexels-photo-3597060.jpg);
    background-size: cover; 
}
 .child1 {
    padding:%;
    color: beige;
    display: flex;
    display: inline;
    font-family:monospace;
    font-size: 140%;
}
.grndiv .child0{
    padding:3%;
    color: beige;
    font-family: 'Rock Salt', cursive;
    font-size: 170%;
    margin-top: -5%;
}
.header-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190%;
    text-align: center;
    height: 32px;
    color: ivory;
    
}
span{
    color: #E4315C;
}
#main .button0{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 8%;
} 

button{
    width: 30%;
    border-radius: 10%;
    background-color: #F15625;
    color:#ffffff;
    font-size: 130%;
}
#main h4{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 11%;
    font-size: 180%;
    color: #ffffff;
    font-family: cursive;    
}
.ABOUT-ME{
    display: flex;
    justify-content: center;
    color: #583535;
    margin-top: 4%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 260%;
}
section{
width: 88%;
padding: 3rem;
display: flex;
justify-content: space-between;
}
.prof-img{
   display: flex;
   
}
.prof-text p{
    font-family:sans-serif;
    color:rgb(167, 175, 175);
}
.prof-text h3{
    font-weight: 7px;
    font-family:cursive;
}
article{
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}
#EDUCATION{
    display: flex;
    justify-content: space-around;
    }
    .chilEDUCAT{
        width: 17rem;
        font-size: 18px;
    }
    nav{
        background-color: rgb(245, 244, 244);
        height: 60%;
    }
    .EDUCATION2{
        display: flex;
        justify-content: center;
        color: #583535;
        margin-top: 4%;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 260%;
        align-items: center;
    }
    .line5{
        margin-top: 2px;
    }
    .line{
        margin-top:2rem;
    }
li{
color: rgb(202, 78, 109);
font-size: 20px;
}
.Two-years{
    font-family:sans-serif;
    color:gray;
}
.chilEDUCAT p{
color: gray;
font-family:sans-serif;
}
.chilEDUCAT h5{
    font-family:sans-serif;
}

#SkillBox {
    
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    //border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(54, 54, 54, 0.3);
    margin: 20px auto;
    border-radius: 20px;

}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #F15625;
    border-radius: 20px;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}


}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}

}#Skill-CSS {
    animation: Animate-CSS 5s;
    width: 95%;
    height: 50px;
    position: absolute;
    background-color: #F15625;
    border-radius: 20px;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 95%}
}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}

}#Skill-jQuery {
    animation: Animate-jQuery 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color:#F15625;
    border-radius: 20px;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}

}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}

}#Skill-JS {
    animation: Animate-JS 4s;
    width: 92%;
    height: 50px;
    position: absolute;
    background-color: #F15625;
    border-radius: 20px;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}

}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}

}#Skill-XML {
    animation: Animate-XML 4s;
    width: 83%;
    height: 50px;
    position: absolute;
    background-color:#F15625;
    border-radius: 20px;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}

}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}

}#Skill-C {
    animation: Animate-C 4s;
    width: 74%;
    height: 50px;
    position: absolute;
    background-color:#F15625;
    border-radius: 20px;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
}#Skill-JAVA {
    animation: Animate-JAVA 4s;
    width: 74%;
    height: 50px;
    position: absolute;
    background-color: #F15625;
    border-radius: 20px;
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}

}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}

}#Skill-PHP {
    animation: Animate-PHP 4s;
    width: 83%;
    height: 50px;
    position: absolute;
    background-color:#F15625;
    border-radius: 20px;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}

}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}

}.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.conatct{
    width: 100%;
}
.input1{
    height: 2rem;
    margin: 1rem;
    width:16rem ;
    text-align: center;
    color:  rgb(204, 204, 204);
    border-radius: 4px;
    border: 1px solid black;
}
.contact1{
    display: flex;
    justify-content: center;
}
.input2{
height: 2rem;
width:34.6rem ;
text-align: center;
color: rgb(204, 204, 204);
border-radius: 4px;
    border: 1px solid black;
}
.contact2{
    display: flex;
    justify-content: center;
}
.input3{
    margin: 1rem;
    width:34.6rem;
    height: 14rem;
    text-align:center;
   color:  rgb(204, 204, 204);
   border-radius: 4px;
    border: 1px solid black;
   
}
.button{
    height: 3rem;
    width: 35rem;
    border: 0.5px solid rgb(173, 130, 130);
    border-radius: 0.2rem;
    background-color: tomato;
    color:white;
    font-size: 1rem;
}
.button1{
    display: flex;
    justify-content: center;
}
.button:hover{
    background-color:rgb(253, 63, 30);
    height: 4rem;
    width: 30.5rem;
}
.Icontact{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.IC1{
    height: 4rem;
    margin: 1rem;
    
    
}
.IC1:hover{
    height: 6rem;
}
footer{
    background-color: rgb(10, 9, 9);
    height: 20rem;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    }
    .Ifooter{
        border: 1px solid white;
        margin: 1rem;
        border-radius:2px;
        height: 60px;
    }
    .Ifooter:hover{
        height:70px;
    }
    footer h3{
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    footer h3:hover{
        font-size: 20px;
    }
    footer a{
        text-decoration: none;
        color: white; 
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }
    footer a:hover{
        font-size: 14px;
    }
    .footer{
       display: flex;
    }
    .email{
        font-size: 20px;
        margin-top: 30px;
        color: rgb(255, 71, 38);
    }
    .email:hover{
        text-decoration:underline;
    }
    .footer2{
        
        width: 40%;
    }
    .footer2 h3{
        font-size: 40px;
    }
    .footer2 P{
        font-family: fantasy;
        color: lightgrey;
    }
    .Cimgfoot{
        height: 40px;
       display: flex;
       display: inline;
       margin: 13px;
    }
    .About-the-C:hover{
        font-size: 40px;
    }





@media only screen and (max-width: 768px) {
    #main h4{
    font-size: 160%;
    }
    section{
    display: flex;
    justify-content: center;
  }
  .prof-img{
    display: inline;
  
 }
 .prof-text{
    width: 80%;
   margin: 0 auto;
}
.Profilimg{
width: 80%;
margin: 0 auto;
}
.Profilimg img{
    width: 100%;
}
article{
    margin-top: 4rem;
}
#EDUCATION{
    display:flex;
    display: inline; 
    margin-bottom: 20px;
    }
    .chilEDUCAT{
        margin: 0 auto;
        width: 70%;  
    }
    .header-text{
        font-size: 25px;
        height: 100px;
    }
    .fotter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    }